# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Scilab Binary
*.bin
lib

# Help files and images
*.html
*.png

# Scilab files 
*loader*.sce
cleaner*.sce

# Others
*.def
*.exp
*.mak

# Others folders
/help
/jar

# Module specified autogen
swt_*

